*{
    /* font-family: 'DM Sans', sans-serif; */
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-weight: 400;
    transition: all .50s ease;
}

  /* font-family: 'DM Sans', sans-serif;
  font-family: 'DM Serif Text', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Playfair', serif; */

:root{
    --text-color: #fff;
    --main-blue: #0A3DA6;
    --lighter-blue: #3e60a7;
    --black: #000000;
    --button-color: #f70c9d;
    --head-color: #242565;
}

/* clients styling begins */
.clients{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clients h2, p{
 text-align: center;
 font-family: 'DM Sans', sans-serif;
}
.clients h2{
    color: var(--head-color);
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;
    margin: 0;
}
.clients p{
    font-size: 14px;
}
.clients-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 0 40px;
}
.clients-container img {
    width: 120px;
    height: auto;
}
.c8{
    width: 400px;
    height: 200px;
}
/* clients styling ends */

/* Footer styling begins */  
.footer {
    display: flex;
    flex-direction: column;
    
}

.footer-content .logo-title h2, h3 {
    margin-top: 38px;
    font-family: 'DM Serif Text', serif;
    margin-left: -10px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--lighter-blue);
    color: white;
    padding: 10px 40px 0px;
    font-family: 'DM Serif Text', serif;
    font-weight:lighter;
}

.footer-content .logo-title {
    display: flex;
    flex-direction: row;
}
  
.footer-content .logo-title img {
    height: 100px;
    width: auto;
}
  
.abt {
    flex: 2;
    margin-right: 30px;
}

.abt p{
    width: 350px;
    padding-left: 40px;
    margin: 0;
    text-align: justify;
}
  
.links1, .links2 {
    flex: 1; 
    margin-right: 50px;
}

.links2{
    margin-left: -50px;
}
  

  
.links1 ul li, .links2 ul li {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -35px;
    line-height: 20px;
}

.links1 ul li a, .links2 ul li a{
    color: var(--text-color);
}

.links1 ul li a:hover, .links2 ul li a:hover{
    font-weight: bold;
    transform: scale(1.05);
}

.contact-icon{
    padding-right: 10px;
    font-size: 22px;
}

.contact-details {
    flex: 1.5;
}

.contact-details p{
    display: flex;
    flex-direction: row;
}

.copyright-notice{
    background-color: var(--main-blue);
}
.copyright-notice p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 12px;
    
}
  
.social{
    display: flex;
    margin: 35px;
}

.social a{
    height: 37px;
    width: 37px;
    background: transparent;
    border: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 1.1rem;
    color: var(--text-color);
}

.social a:hover{
    background: var(--button-color);
    color: var(--text-color);
    border: 1px solid var(--button-color);
}
/* Footer styling ends */


  