/* Footer styling begins */
.footer-content{
    display: flex;
    flex-direction: row;
    background-color: #3e60a7;
    color: white;
}
.footer-content .logo-title{
    display: flex;
    flex-direction: row;
}
.footer-content .logo-title img{
    height: 100px;
    width: auto;
}
.footer-content .logo-title h2{
   margin-top: 30px;
}

/* Footer styling ends */