

*{
    /* font-family: 'DM Sans', sans-serif; */
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-weight: 400;
    transition: all .50s ease;
}


:root{
    --text-color: #fff;
    --main-blue: #0A3DA6;
    --lighter-blue: #3e60a7;
    --black: #000000;
    --button-color: #f70c9d;
    --head-color: #242565;
}

section{
    margin-bottom: 15px;
}

/* Footer styling begins */  
.footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.footer-content .logo-title h2, h3 {
    margin-top: 38px;
    font-family: 'DM Serif Text', serif;
    margin-left: -10px;
    color: var(--text-color);
    padding: 0;
    font-weight: 500;
}
.footer-content .logo-title h2{
    top: 0;
    font-size: 25px;
    font-weight: 500;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--lighter-blue);
    color: white;
    padding: 10px 40px 0px;
    font-family: 'DM Serif Text', serif;
    font-weight:lighter;
}

.footer-content .logo-title {
    display: flex;
    flex-direction: row;
}
  
.footer-content .logo-title img {
    height: 100px;
    width: auto;
}
  
.abt {
    flex: 2;
    margin-right: 30px;
}

.abt p{
    width: 350px;
    padding-left: 40px;
    margin: 0;
    text-align: justify;
    font-family: 'DM-Sans-serif', serif;
}
  
.links1, .links2 {
    flex: 1; 
    margin-right: 50px;
}

.links2{
    margin-left: -60px;
}
  
.links1 ul li, .links2 ul li {
    line-height: 20px;
    margin: 10px ;
    font-family: 'DM-Sans-serif', serif;
}

.links1 ul li a, .links2 ul li a{
    color: var(--text-color);
}

.links1 ul li a:hover, .links2 ul li a:hover{
    font-weight: bold;
    transform: scale(1.05);
    color: #bfc7d6;
}

.contact-icon{
    padding-right: 10px;
    font-size: 22px;
    margin-top: -10px;
    
}

.contact-details {
    flex: 1.5;
    
}

.contact-details p{
    display: flex;
    flex-direction: row;
    line-height: 5px;
    margin: 10px ;
    font-family: 'DM-Sans-serif', serif;
    padding-bottom: 5px;
}

.copyright-notice{
    background-color: var(--main-blue);
}
.copyright-notice p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    font-size: 12px;
    
}
  
.social{
    display: flex;
    margin: 35px;
}

.social a{
    height: 37px;
    width: 37px;
    background: transparent;
    border: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 1.1rem;
    color: var(--text-color);
}

.social a:hover{
    background: var(--button-color);
    color: var(--text-color);
    border: 1px solid var(--button-color);
}