
.prev-next{
    border-radius: 5px;
    background: #e0e0e0;
    box-shadow:  2px 2px 10px #b1b1b1,
                -2px -2px 10px #ffffff;
    margin: 20px;
    align-items: center;
    padding: 4px 10px;
}
.prev-next:hover{
    background: #e0e0e0;
    box-shadow:  2px 2px 10px #a6d3ea,
                -2px -2px 10px #ffffff;
}

