*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main-container{
    display: flex;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar {
    background-color: #6176BA;
    color: beige;
    height: 100vh;
    transition: all 0.8s;
}
.logo-container{
    display: flex;
    padding: 5px 10px 25px 0px;
    margin-left: -20px;
}
